body{
   box-sizing: border-box;
   color: #1A1A2E;
}


div#logo {
    display: inline-flex; 
    text-align: start;
    width: 64px;
}
header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed;
    background: #E0FFFF;
    width: -webkit-fill-available;
    margin: 24px;
}

  ul{
    list-style: none;
    display: flex;
 }

 .nav-head {
    margin-left: 16px;
    color: #1A1A2E;
    font-size: 1.25em;
    font-weight: 700;
 }
 .nav-phone {
   display: none;
 }

 div#logo h2{
    background: linear-gradient(to right, #FFA500 50%, #1A1A2E 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
 }

 @media only screen and (max-width: 768px) {
   .nav-head, .desktop {
      display: none;
   }
   .nav-phone{
      display: flex;

   }
   .nav-head {
      margin-left: 0px;
   }
   header{
      justify-content:;
   }
   ul{
      padding-left: 0px;
      flex: 4;
      justify-content: space-between;
   }
   nav{
      width: 75%;
      justify-content: space-between;
   }

   div#logo{
      width: auto;
   }
   

 }

/* section main */

.main {
display: flex;
background-color: #E0FFFF;
border: #1A1A2E 5px solid;

}
.banner{
   width: 60%;
   margin-left: 32px 24px;
   text-align: center;
}
.banner img{
   width: 100%;
   margin: 32px 24px;
   
}

.banner-description{
   display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto 24px
   }

   .banner-description button{
      padding: 8px 36px;
    width: fit-content;
    text-align: center;
    align-self: center;
    font-weight: 700;
    background-color: #FFA500;
    color: #1A1A2E;
   }

   .banner-description h2{
      font-size: 1.3rem;
      font-weight: 300;
   }

   .banner-description h1{
      font-size: 2rem;
      font-weight: 700;
   }
   @media only screen and (max-width: 768px){
      .main{
         display: block;
      }
      .main img{
         margin: 0px; 
      }

      div.banner{
         width: auto;
         box-sizing: border-box;
         margin-top: 85px;
         padding: 0px;
      }
      div.banner-description{
         margin: 32px 16px;
      }
      .banner-description h1{
         margin: 0px;
         
      }
      .banner-description h2{
         margin-top: 32px;
         margin-bottom: 24px;
      }
   }
   /* section second-container */

   .second-container{
      display: flex;
      margin-top: 32px;
    margin-bottom: 32px;

   }
  .second-container .banner{
   padding-right: 24px;
   
}
   .mobile{
      display: none;
   }

  .detailed img{
   width: 100%;
  }

  .detailed{
   margin: 16px;
   width: 40%;
  }

  .detailed-sub{
   width: 35%;
   margin: 16px;
   
  }
  .detailed-container{
   border:#1A1A2E solid 5px;
   display: flex;
   
  }
.detailed-description{
   width: 65%;
}
a{
   text-decoration: none;
}
@media only screen and (max-width: 768px){
   .second-container .banner{
      display: none;
      margin: 0px 16px;
   }
   div.detailed-container{
      display:block;
      border: #E0FFFF;
   }
   .detailed {
      width: 100%;
      margin:0px;
   }
   .detailed-sub .mobile{
      display: block;
   }
   .detailed-sub, .detailed-description{
      width: auto;
   }
   .detailed-description{
      margin: 0px 32px 48px 32px;
   }
   



}

/* Start */

@media only screen and (max-width: 768px){
   div.start-container{
      display: block;
   }
   .start-box {
      display: none;
   }
   
   button.phone {
      display: block;
      border: #1A1A2E solid 5px;
      width: 100%;
      background-color: #FFA500;
      padding: 16px 0px 24px 16px;
      margin-bottom: 8px;
      text-align: start;
      font-size: 1.2em;
      font-weight: 700;
   }
   section.start h1{
      padding:0px;
      margin-top: 16px;
      font-size: 2em;
   }
   section.start{
      padding-bottom: 32px;
   }


}
 button.phone {
   display: none;
}
.start{
   background-color: aliceblue;
}
.start h1{
   font-size: 2rem;
   text-align: center;
   padding: 32px;
   margin:0px;
}
.start-container{
   display: flex;
   flex-wrap: wrap;
   margin: 32px 72px;
   justify-content: center;
}
  .start-box{
   background-color: white;
   box-sizing: border-box;
   width: calc(33% - 64px);
   
   margin-right: 32px;
   margin-bottom: 32px;
   border: #1A1A2E solid 3px;
  }
.start-box img{
   margin-bottom: 16px;
}

.start-description{
   padding-left: 16px;
   padding-bottom: 24px;
}

.start-description p{
   margin: 8px auto;
}
  .start-box img{
   width: 100%;
  }
/* thesis */
@media only screen and (max-width: 768px){
   
   div.video-phone{
      display: block;
      margin: 16px 0px;
   }

   div.video-phone video{
      width: 100%;
      margin-bottom: 24px;
   }

   div.thesis-container{
      display: none;
   }
}
  .video-phone{
   display: none;
  }
  .thesis h1{
   margin: 32px auto;
   text-align: center;
   font-size: 2rem;
  }
  .thesis-container{
   margin-bottom: 16px;
   display: flex;
   width: 100%;
  }

  .video{
   width: 60%;
   margin: 0px 24px;
   
  }

  .video-m video {
   width: 100%;
   max-width: 100%;
   height: auto;
   object-fit: contain;
  }
  .t-detailed{
   width: 40%;
  }
 .t-box{
   display: flex;
   background-color: aliceblue;
   border: #1A1A2E 3px solid;
 }
  .d-t-box{
   width: 65%;
  }

  .t-box img{
   width:35%;
   margin: 16px;
   height: auto;
  }
  /*Footer*/
  @media only screen and (max-width: 768px){
   nav.foot-nav{
      display:none;
   }
   p.year{
      margin:16px;
   }

  }
  footer{
   display: flex;
   justify-content: space-between;
   padding: 16px;
   margin: 32px 24px;
   color: #E0FFFF;
   background: #1A1A2E;
  }

  .nav-ul{
   display: flex;

  }

  li{
   font-size: 1em;
   font-weight: 500;
  }